FENCE_APP_NAME=Fence Tech Challenge Backend
FENCE_ENVIRONMENT=docker
FENCE_API_V1_PREFIX=/api/v1
FENCE_LOG_LEVEL=INFO

FENCE_WEB3_RPC_URL=http://smart-contract:8545
FENCE_WEB3_CHAIN_ID=31337
FENCE_COVENANT_REGISTRY_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
FENCE_COVENANT_REGISTRY_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
